<% unless date_books == nil %>
  <h5>検索結果</h5>
    <table class="table table-bordered">
      <thead>
        <th>投稿数</th>
      </thead>
      <tbody>
        <td><%= date_books %></td>
      </tbody>
    </table>
<% end %>
