<div class="text-danger mt-3 ml-5">
<% if obj.errors.any? %>
  <div class="mb-2"><%= obj.errors.count %>つのエラーが見つかりました:</div>
  <% obj.errors.full_messages.each do |message| %>
    <%= message %><br>
  <% end %>
<% end %>
</div>